body {
  background-color: $primary-color;
}

header {
  padding: 2rem;
  .nav-result {
    color: white;
    font-size: 18px;
  }
}

.title {
  margin-top: 1rem;
  margin-bottom: 0px;
  h1 {
    font-size: 45px;
    margin-bottom: 0px;
  }
}

button, button:focus{
  outline: none;
}

button.navigate {
  border: none;
  background-color: transparent;
  padding-left: .75rem;
  padding-right: .75rem;
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $primary-color;
  opacity: 0.75;
  z-index: 50;
  display: flex;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
  }
}