.smell-rate {
  width: 56px;
  height: 56px;
  background-color: white;
  color: $primary-color;
  border-radius: 50%;
  font-size: 27px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
